.donatebtn
{
  position:relative;
  
  padding-bottom: 0.063rem;
  padding-top: 0.063rem;
  text-align: center;
  justify-content: center;
  
  background-color: $primary;
  border-radius: 0.131rem; 
}

.donatebtn:hover
{
  background-color:$info;
}

/* 
.btn-label {
	position: relative;
	left: -12px;
	display: inline-block;
	padding: 6px 12px;
    background-color:$primary;
}

.btn-labeled {
	padding-top: 0;
	padding-bottom: 0;
}

.btn {
	margin-bottom: 10px;
} */