$primary:             #00007e;
$warning:             #f0de47;
$light:               #FFFFFF;
$success:             #2a972a;
$info:                #4ed0ed;
$dropdown-dark-bg:      $primary;
$dropdown-dark-color:   $warning;
$dropdown-min-width:    8rem;
$dropdown-padding-y:    0;
$display-font-weight: 600;

.social:hover {
  color: #3c73ff;
}

@import "./carousel";
@import "./about";
@import "./donate";

/* END OF HOME PAGE CAROUSEL */
/*  ##### ##### ##### ##### ##### ##### ##### ##### ##### */

@import "../node_modules/bootstrap/scss/bootstrap.scss";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');

:root {
  --bs-body-font-family: 'Roboto', sans-serif;
}

.head {
  font-family: 'Roboto', sans-serif;
  justify-self: center; 
}

body {
  font-size: 1.5rem;
}

footer {
  padding-bottom: 0px;
}

.hov:hover {
  background-color: $info;
  text-decoration: none;
  border-radius: 0.9rem;
}

.list {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.arrow {
  transform: rotate(180deg);
}

ul {
  padding-bottom: 0;
  margin-bottom: 0;
}

.container {
  padding-top: 6%;
  margin-left: 6rem;
  max-width: 93.75rem;
}

.sidebar {
  padding-top: 5rem;
}

.dropdown-menu-dark
{
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}

.stickyTab {
  position: sticky;
  top: 11rem;

  .sideTabs {
    position: absolute;
    right: 4rem;

    #upcoming {
      top: 3.125rem;
      background-color: $primary;
    }
  }
}