$primary: #00007e;
$warning: #f0de47;
$light: #FAFF07;
$success:#2a972a;

.social:hover{
    color:#3c73ff;
    
}
@import'./carousel';
@import'./about';

  /* END OF HOME PAGE CAROUSEL */
  /*  ##### ##### ##### ##### ##### ##### ##### ##### ##### */

@import'../node_modules/bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&family=Pattaya&display=swap');

:root{
    --bs-body-font-family: 'Merriweather Sans', sans-serif;
}

.head{
    font-family: 'Pattaya', sans-serif;
    justify-self: center;
}

.hov:hover{
    background-color:#143EA4;
    text-decoration: none;
    border-radius: 15px;
}

.list{
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

small
{
    font-size: 14px;
}

footer
{
    padding-bottom: 0px;
}

.arrow
{
    transform: rotate(180deg);
}

ul{
    padding-bottom: 0;
    margin-bottom: 0;
}

.donatebtn{
  position:absolute;
  top:150px;  
  right:10rem; 
  padding: 5px; 
}

.container{
  padding-top: 6%;
}   

.sidebar{
  padding-top: 5rem;
}