<footer class="text-center text-lg-start text-warning bg-primary m-0 p-0">
    <!-- Grid container -->
    <div class="container-fluid text-center pt-4">
      <!--Grid row-->
      <div class="row justify-content-center text-warning mb-0 pb-0">
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="">Legal</h5>
          <ul class="list-unstyled mb-0 text-warning">
            <li class="text-hover">
              <a href="/src/privacyPolicy.html" class="text-warning text-decoration-none" target="_blank">Privacy Policy
                & Disclaimer</a>
            </li>
            <li>
              <a href="/src/annualReports.html" class="text-warning text-decoration-none social" target="_blank">Annual
                Reports</a>
            </li>
            <li>
              <a href="/src/fundraising.html" class="text-warning text-decoration-none social" target="_blank">Fundraising
                Practises</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="">Contact Us</h5>

          <ul class="list-unstyled">
            <li class="mt-2">
              <a href="#!" class="text-warning text-decoration-none mt-2 p-4">Ph.No:89327694</a>
            </li>
            <li>
              <a href="#!" class="text-warning text-decoration-none">Email: burnclub@club.co.uk </a>
            </li>
            <li>
              <a href="#!" class="text-warning text-decoration-none">P.O.Box: xxxxxx</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="mb-0 pb-0">Follow Us</h5>
          <ul class="list-unstyled mb-0 ">
            <li class="social fs-5">
              <a href="https://www.facebook.com/SBCC2001" class="text-warning" target="_blank">
                <ion-icon class="social" name="logo-facebook"></ion-icon>
              </a>
            </li>
            <li class="social fs-5">
              <a href="https://www.facebook.com/SBCC2001" class="text-warning" target="_blank">
                <ion-icon class="social" name="logo-instagram"></ion-icon>
              </a>

            </li>
            <li class="social fs-5">
              <a href="https://twitter.com/SBCC2001" class="text-warning" target="_blank">
                <ion-icon class="social" name="logo-twitter"></ion-icon>
              </a>
            </li>
          </ul>
        </div>
        <hr>
      </div>
      <div class="text-center fst-italic mt-0 pt-0">
        <small>
          © 2022 Copyright Notice: All images displayed on this website is copyright of the Scottish Burned Children
          Club.
          No downloading, screen captures, storages, alteration, reproduction, or distribution, in any manner of form,
          is permitted without the express written consent of the copyright holder. If you have any queries related to
          images, you may contact the copyright holder at enquiries@theburnsclub.org.uk.
        </small>
      </div>
    </div>
  </footer>
