<nav class="bg-primary text-warning justify-content-center fixed-top " id="navbar">
    <div class="d-flex flex-row justify-content-center">
      <div class="d-flex flex-column">
        <!-- not finished for xs and sm, need to make hamburger menu  -->
        <header>
          <div class="text-center">
            <a class="text-light text-decoration-none head display-3" href="/index.html">Scottish Burned Children's Club</a>
            <img class="mx-5 mt-2" width="73" style="position: absolute;" src="/img/SBCCLogoNotText.png" />
          </div>
        </header>
        <ul class="d-flex justify-content-center h6 list-unstyled">
          <li class="">
            <a class="hov text-warning text-decoration-none px-3 py-1 list" href="/index.html">Home</a>
          </li>
          <li class="">
            <a class="dropdown-toggle hov text-warning text-decoration-none px-3 py-1 list" role="button" id="auDropdown" data-bs-toggle="dropdown" aria-expanded="false">About Us</a>

            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="auDropdown">
              <li><a class="dropdown-item" href="/src/aboutUs.html">Volunteers</a></li>
              <li><a class="dropdown-item" href="/src/auhelpers.html">Helpers</a></li>
            </ul>
          </li>
          <!-- Events dropdown menu -->
          <li class="">
            <a class="dropdown-toggle hov text-warning text-decoration-none px-3 py-1 list" role="button" id="eventsDropdown" data-bs-toggle="dropdown" aria-expanded="false">Events</a>

            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="eventsDropdown">
              <li><a class="dropdown-item" href="/src/events.html">Fundraising</a></li>
              <li><a class="dropdown-item" href="/src/events.html">Family</a></li>
              <li><a class="dropdown-item" href="/src/events.html">Previous</a></li>
            </ul>
          </li>
          <li class="">
            <a class="hov text-warning text-decoration-none px-3 py-1 list" href="/src/updates.html">News</a>
          </li>
          <li class="">
            <a class="hov text-warning text-decoration-none px-3 py-1 list" href="/src/safetyCampaigns.html">Safety&nbsp; Campaigns</a>
          </li>
          <li class="">
            <a class="hov text-warning text-decoration-none px-3 py-1 list" href="/src/supportUs.html">Support Us</a>
          </li>
        </ul>
      </div>
   
    </div>
  </nav>